page-home {
}

::-webkit-scrollbar{
  display:none;
}

.scroll-content{
  background: url("https://wallpaperclicker.com/storage/wallpaper/red-wallpaper-22010068.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;

}

